<header>
  <nav>
    <a href="/">Main</a>
    <ul>
      <li><a href="/players">Players</a></li>
      <li><a href="/players/new">Add Player</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>
</header>
