<header>
  <div class="nav">
    <nav>

      <ul>
        <li><a href="/">Main</a></li>
        <li><a href="/players">Players</a></li>
        <li><a href="/players/new">Add Player</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/game">Play</a></li>
        <li><a href="/game/score">Scores</a></li>
      </ul>
    </nav>
  </div>
</header>
