<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="/script.js"></script>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1 class="header">Easy Game</h1>
    <div class="game">
      <p>Choose ammount of fingers</p>
      <select name="fingers" id="fing">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>

      <div class="easy">
        <p>Choose odd or even</p>
        <select name="value" id="val">
          <option value="odd">odd</option>
          <option value="even">even</option>
        </select>
      </div>
      <button type="submit" name="submitgame" onclick="getScores2();">Submit</button>
      <div class="results">
          <h3>Your score - <span style="color: blue" id="points">0</span></h3>
          <ul id="result">

          </ul>
        </div>

  <script type="text/javascript">
    var scoreLst= []
    var counter=0
    localStorage.setItem('playCount', `${counter}`)
    localStorage.setItem('scoreLst', `${scoreLst}`)
  </script>
    </div>
  </body>
</html>
