<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="script.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="game">


      <div class="diff">
        <p>Choose difficulty</p>
        <select name="difficulty" id="dif">
          <option value="easy">easy</option>
          <option value="normal">normal</option>
        </select>
      </div>
      <div class="players">
        <p>Choose player ammount</p>
        <select name="players" id="plays">
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <button type="submit" name="submitOptions" onclick="getPreGameValue();"><a href = '/game/play'>Submit</a></button>
    </div>
    </body>
  </html>
