<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="/script.js"></script>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="game">
      <h2 class="header">Your Score - <span id="point"></span></h2>
      <ul id = "fullScore">
      </ul>
      <script type="text/javascript">
        var scoreLst= localStorage.getItem('scoreLst')
        document.getElementById('fullScore').innerHTML += scoreLst
        var points= localStorage.getItem('points')
        document.getElementById('point').innerHTML += points
        console.log(scoreLst)
      </script>
    </div>
  </body>
</html>
